<%- include('../shared/head.ejs') %> 
<link rel="stylesheet" href="/css/main.css">
<link rel="stylesheet" href="/css/product.css">
<link rel="stylesheet" href="/css/forms..css">
</head>
<%- include('../shared/nav.ejs') %>  
<main>
    <% if (cartArray.length > 0){
        %>
    <div>
        <ul>
           <% cartArray.forEach((cart)=>{
            %>
             <div>
             <li>
                 <span><%=cart.title%></span>&nbsp;&nbsp;
                 <span>(<%=cart.cartitem.quantity%>)</span>
            </li>
             <form action = '/delete-cart' method='POST'>
                 <input type="hidden" name=productId value="<%= cart.id%>"/>
                 <button type="submit" class="btn">Delete</button>
             </form>
            </div>
            <%
            }) 
            %>
        </ul>
    </div>
    <form action = '/orders' method='POST'>
       <button type="submit" class="btn">Check OUT</button>
    </form>
    <%
    }
    else
    {
    %>
    <h1>Nothing available in the cart</h1>
    <%
    }
    %>

</main>
<body> 

<%- include('../shared/end.ejs') %>  